$primary-color: rgb(0, 166, 255);
$secondary-color: rgb(15, 61, 89);
$tertiary-color: rgb(51, 145, 204);
$quaternary-color: rgb(200, 200, 200);
$quinary-color: rgb(245, 245, 245);
$fourteenth-color: rgb(90, 90, 90);
$nineteenth-color: rgb(45, 50, 62);

$text-color: rgb(71, 82, 94);
$disable-color: rgb(237, 237, 237);
$input-color: rgb(239, 239, 239);

// Standard color
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$white-line: rgb(241, 241, 241);
$line-color: rgb(229, 229, 229);
$light-blue-color: rgb(225, 245, 255);
$transparent: #00000000;

// Alert Colors
$ms-red-light: rgb(253, 231, 231);
$ms-yellow-ligth: rgb(255, 250, 198);
$ms-yellow-dark: rgb(255, 235, 59);
$ms-red-light: rgb(253, 231, 231);

// Colors status
// Green
$senary-color: rgb(0 151 51);
$green_money: rgb(28, 172, 79);
// Gray
$septenary-color: rgb(132, 146, 166);
// Yellon
$octonary-color: rgb(255, 225, 0);
// red
$nonary-color: rgb(225, 18, 21);
// Orange
$denary-color: rgb(225 158 0);
$orange-color: rgb(220, 118, 38);
// Blue
$twelfth-color: rgb(0, 149, 255);
$blue-color: rgb(199, 236, 255);
